.top{
    margin-top: 50px;
}


#allcards{
    background-color: aliceblue;
    margin: auto;
    max-width: 500px;
}
.cards{
    color: azure;
    margin: 5px;
    padding: 20px;
    background-color: #0039A6;
}
button{
    width: 100px;
    height: 35px;
    background-color: black;
    color: white;
}
.addressCard{

    display: flex;
    clear: both;
    


}
.eachAddress{
    color: black;
    margin: auto;
    background-color: white;
    padding:10px;
    float: left;
   

}