#allcards{
    background-color: aliceblue;
    margin: auto;
    max-width: 500px;
}
.cards{
    color: azure;
    margin: 5px;
    padding: 20px;
    background-color: #0039A6;
}
button{
    width: 100px;
    height: 35px;
    background-color: black;
    color: white;
}