<div id="allcards">

    <div class="cards">
        <h3>{{user[0].firstName+ ' ' + user[0].lastName}} </h3>
        <p>{{ user[0].email }}</p>
        <button>GO</button>
    </div>

    <div class="cards">
        <h3>{{user[1].firstName+ ' ' + user[1].lastName}} </h3>
        <p>{{ user[1].email }}</p>
        <button>GO</button>
    </div>

    <div class="cards">
        <h3>{{user[2].firstName+ ' ' + user[2].lastName}} </h3>
        <p>{{ user[2].email }}</p>
        <button type="button">GO</button>
    </div>

</div>